In [28]:
# Import libraries
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency, binomtest

# Read in the `clicks.csv` file as `abdata`
abdata = pd.read_csv('clicks.csv')

In [29]:
abdata.head()

    user_id group is_purchase
0  8e27bf9a     A          No
1  eb89e6f0     A          No
2  7119106a     A          No
3  e53781ff     A          No
4  02d48cf1     A         Yes

In [30]:
xtab = pd.crosstab(abdata.group, abdata.is_purchase)
xtab

is_purchase    No  Yes
group
A            1350  316
B            1483  183
C            1583   83

In [31]:
chi2, pval, dof, exp = chi2_contingency(xtab)
print(pval)

2.4126213546684264e-35

In [32]:
num_visits = len(abdata)
print(num_visits)

# calculating target revenue
min_target_revenue = 1000
num_sales_needed_099 = min_target_revenue/0.99
num_sales_needed_199 = min_target_revenue/1.99
num_sales_needed_499 = min_target_revenue/4.99
print(num_sales_needed_099, num_sales_needed_199, num_sales_needed_499)

4998
1010.1010101010102 502.51256281407035 200.40080160320642

Now that we know how many sales we need at a $0.99 price point, calculate the proportion of weekly visitors who would need to make a purchase in order to meet that goal. Remember that the number of weekly visitors is saved as num_visits. Save the result as p_sales_needed_099 and print it out.

In [33]:
p_sales_needed_099 = num_sales_needed_099/num_visits
p_sales_needed_199 = num_sales_needed_199/num_visits
p_sales_needed_499 = num_sales_needed_499/num_visits

print(p_sales_needed_099, p_sales_needed_199, p_sales_needed_499)

0.20210104243717691 0.10054272965467594 0.040096198800161346

Since we have a single sample of categorical data and want to compare it to a hypothetical population value, a binomial test is appropriate. In order to run a binomial test for group A, we need to know two pieces of information:

The number of visitors in group A (the number of visitors who were offered the $0.99 price point)  
The number of visitors in Group A who made a purchase  

Calculate these two numbers and save them as samp_size_099 and sales_099, respectively. Note that you can use the contingency table that you printed earlier to get these numbers OR you can use Python syntax.

In [34]:
samp_size_099 = len(abdata.group[abdata.group == 'A'])
sales_099 = len(abdata.group[(abdata.is_purchase == 'Yes') & (abdata.group == 'A')])
samp_size_199 = len(abdata.group[abdata.group == 'B'])
sales_199 = len(abdata.group[(abdata.is_purchase == 'Yes') & (abdata.group == 'B')])
samp_size_499 = len(abdata.group[abdata.group == 'C'])
sales_499 = len(abdata.group[(abdata.is_purchase == 'Yes') & (abdata.group == 'C')])

print(samp_size_099, sales_099)
print(samp_size_199, sales_199)
print(samp_size_499, sales_499)

1666 316
1666 183
1666 83

In [39]:
pvalueA = binomtest(sales_099, samp_size_099, p_sales_needed_099, alternative = 'greater')
pvalueB = binomtest(sales_199, samp_size_199, p_sales_needed_199, alternative = 'greater')
pvalueC = binomtest(sales_499, samp_size_499, p_sales_needed_499, alternative = 'greater')

print(pvalueA)
print(pvalueB)
print(pvalueC)

BinomTestResult(k=316, n=1666, alternative='greater', statistic=0.18967587034813926, pvalue=0.9028081076188554)
BinomTestResult(k=183, n=1666, alternative='greater', statistic=0.10984393757503001, pvalue=0.11184562623740596)
BinomTestResult(k=83, n=1666, alternative='greater', statistic=0.04981992797118848, pvalue=0.02794482665983064)

>Group C is the only group with a significant p value. This group purchased at a higher rate than needed to recoup the costs