In [19]:
# Import libraries
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp, ttest_ind, chi2_contingency

# Load datasets
lifespans = pd.read_csv('familiar_lifespan.csv')
iron = pd.read_csv('familiar_iron.csv')

In [20]:
lifespans.head()

     pack   lifespan
0    vein  76.255090
1  artery  76.404504
2  artery  75.952442
3  artery  76.923082
4  artery  73.771212

In [21]:
iron.head()

     pack    iron
0    vein     low
1  artery  normal
2  artery  normal
3  artery  normal
4  artery    high

In [22]:
vein_pack_lifespans = lifespans.lifespan[lifespans['pack'] == 'vein']
artery_pack_lifespans = lifespans.lifespan[lifespans['pack'] == 'artery']
print(np.mean(vein_pack_lifespans), np.mean(artery_pack_lifespans))

# Run a 1 sided T Test to see if the averave value of 76 is significant
tstat, pval = ttest_1samp(vein_pack_lifespans, 73)
print(pval)

76.16901335636044 74.8736622351704
5.972157921433211e-07

We’d like to find out if the average lifespan of a Vein Pack subscriber is significantly different from the average life expectancy for the Artery Pack.

Import the statistical test from scipy.stats that we would use to test the following null and alternative hypotheses:

Null: The average lifespan of a Vein Pack subscriber is equal to the average lifespan of an Artery Pack subscriber.
Alternative: The average lifespan of a Vein Pack subscriber is NOT equal to the average lifespan of an Artery Pack subscriber.

In [23]:
tstat, pval = ttest_ind(vein_pack_lifespans,artery_pack_lifespans)
print(pval)

0.05588883079070819

>We do not reject the null hypothesis

We’d like to find out if there is a significant association between which pack (Vein vs. Artery) someone subscribes to and their iron level.

Import the statistical test from scipy.stats that we would use to test the following null and alternative hypotheses:

Null: There is NOT an association between which pack (Vein vs. Artery) someone subscribes to and their iron level.
Alternative: There is an association between which pack (Vein vs. Artery) someone subscribes to and their iron level.

In [26]:
xtab = pd.crosstab(iron.pack, iron.iron)
xtab

iron    high  low  normal
pack
artery    87   29      29
vein      20  140      40

In [28]:
stat, pval, dof, ef = chi2_contingency(xtab)
print(pval)

9.359749337433008e-25

> There is an association between wich pack and the subscripbers iron levels.